@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

* {
  font-size: 14px;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}

input[type="text"] {
  width: 100%;
  height: 34px;
  background: #333;
  border-radius: 5px;
  border: 1px solid #333;
  outline: none;
  padding: 5px 20px;
  color: #fff;
  transition: 0.2s ease all;
}
input[type="text"].invalid {
  border-color: #f44336;
}
select {
  height: 34px;
  width: 100%;
  border-radius: 5px;
  background: #333;  
  border: 1px solid #333;
  color: #fff;
  outline: none;
  padding: 5px 10px;
}
textarea {
  resize: none;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  background: #333;  
  border: 1px solid #333;
  color: #fff;
  outline: none;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.sub-title {
  font-size: 14px;
  color: #999;
  padding: 0 5px;
  margin-bottom: 5px;
}

.auction-main {
  background: rgba(34, 37, 43, 1);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.container-menu {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.container-menu-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 34px;  
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease background-color;
}
.container-menu-tab.active {
  background-color: darkorchid;
}
.container-screen {
  position: relative;
  flex: 1;
  width: 100%;
}

.auction-search-top {
  display: flex;  
  position: absolute;
  top: -40px;
  left: 330px;
}
.auction-search-bottom {
  display: flex;
  flex-direction: row;  
  padding: 10px;
}
.auction-search-category {
  width: 300px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}
.auction-search-category > div {
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s ease background;
}
.auction-search-category > div:hover {
  background: rgba(0,0,0,0.2);
}
.auction-search-body {
  flex: 1;
  padding-left: 20px;
}

.auction-search-list-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
}
.auction-search-list {
  position: relative;
  flex: 1;  
  width: 100%;
  height: 500px;
  background: #333;
  border-radius: 10px;
  font-size: 14px;  
  overflow: auto;
}
.auction-search-list-item.header {  
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;     
  background-color: transparent !important;
}
.auction-search-list-item.header > div {    
  font-size: 14px;
  padding: 0 20px;
  color: #999;
}
.auction-search-list-item {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;  
  /* border-radius: 10px; */
}
.auction-search-list-item.active {
  background: rgba(0,0,0,0.2) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.auction-search-list-item:hover {
  background: rgba(0,0,0,0.2);
}
.auction-search-list-item > img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
}
.auction-search-list-item > .name, 
.auction-search-list-item > .description {
  flex: 1;
  padding: 0 10px;
}
.auction-search-list-item > .info { 
  flex: 1;
  padding: 0 10px;
}
.auction-search-list-item > .price1 {
  position: relative;
  width: 100px;
  text-align: center;
}
.auction-search-list-item > .price1:before {
  content: '입찰가';
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 10px;
  color: #777;
}
.auction-search-list-item > .price2 {
  position: relative;
  width: 100px;
  text-align: center;
}
.auction-search-list-item > .price2:before {
  content: '즉구가';
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 10px;
  color: #777;
}
.auction-search-list-item > .time {
  position: relative;
  width: 100px;
  text-align: center;
}
.auction-search-list-item > .time:before {
  content: '남은시간';
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 10px;
  color: #777;
}
.auction-search-list-item > .time.timestate-1 {
  color: yellow;
}
.auction-search-list-item > .time.timestate-2 {
  color: red;
}
.auction-search-list-item > .writer {
  text-align: center;
  display: flex;
  align-items: center;

  background-color: rgba(0,0,0,0.1);
  padding: 5px;
  border-radius: 50px;
}
.auction-search-list-item > .writer > img {
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.auction-search-list-item > .writer > span {
  padding-right: 5px;
  /* background-color: #333;
  padding: 0 10px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.2); */
}

.auction-search-area {  
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 5px;
}
.auction-search-area > i {
  height: 34px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .auction-search-input {
  width: 100%;
  height: 34px;
  background: rgb(78, 78, 78);
  border-radius: 50px;
  border: 1px solid rgb(60, 60, 60);
  outline: none;
  padding: 5px 20px;
  color: #fff;
} */
.auction-search-guide {
  position: absolute;
  top: 32px;
  background: #222;
  color: #aaa;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  width: 300px;
  overflow: auto;  
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  z-index: 10;
  /* padding: 5px; */
}
.auction-search-guide > div {
  padding: 8px 20px;
  cursor: pointer;
}
.auction-search-guide > div:first-of-type {
  /* border-top: 1px solid #272727; */
  padding-top: 10px;
}
.auction-search-guide > div:hover {
  color: #fff
}

.bidding {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 0 5px 5px 5px;
  background: rgba(0,0,0,0.2);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.bidding > div {  
  display: flex;
  align-items: center;
  height: 34px;
}
.bidding .bidding-input {
  width: 200px;
  text-align: right;
  padding-right: 20px;
}
.bidding .bidding-input > input {
  width: 100%;
  background: #333;
  border-radius: 50px;
  border: 1px solid rgb(60, 60, 60);
  outline: none;
  padding: 5px 20px;
  color: #fff;
  text-align: right;
}
.bidding .bidding-confirm,
.bidding .bidding-close {
  width: 100px;  
  cursor: pointer;
}
.bidding .bidding-confirm:hover,
.bidding .bidding-close:hover {
  /* color: #006cff;
  text-decoration: underline; */
}
.bidding .bidding-confirm > div,
.bidding .bidding-close > div {
  border-radius: 50px;  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;  
  
  padding: 5px 10px;
}
.bidding .bidding-confirm > div {
  background: darkorchid;
}
.bidding .bidding-close > div {
  background: rgba(34, 37, 43, 1);
}


.add-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100%;  */
  padding: 10px;
}
.add-items-info {
  width: 300px;
}
.add-items-info > div {
  padding: 10px 0;
}
.add-items-price > div {
  padding: 10px 0;
}
.my-items {
  flex: 1;
  height: 100%;
  padding: 10px 20px;
}
.my-items-list {
  /* height: 100%; */
  position: relative;
  height: 500px;
  background: #333;
  border-radius: 10px;
  overflow: auto;
}

.add-items-confirm {
  margin-top: 10px;
}
.add-items-confirm > div {
  background: #333;
  color: #777;
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 14px;
  cursor: default;
  pointer-events: none;
}
.add-items-confirm.active > div {
  background: #006cff; 
  color: #fff;
  cursor: pointer;
  pointer-events: all;
}


.history-item {
  display: flex;
  flex-direction: row;
  /* margin: 10px; */
}
.history-item > div {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
}
.history {
  min-height: 60px;
  background: rgba(0,0,0,0.2);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* border-top: 1px solid transparent; */
}
.history-empty {
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 60px;
}
.history .sub-title {
  font-size: 12px;
  margin-left: 15px;
}
.bidder {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
  border-radius: 50px;
}
.bidder > img {
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.bidder > span {
  padding-right: 5px;
}


.buy-total {  
  display: flex;
  font-size: 14px;
  padding: 5px 10px;
  height: 40px;  
  align-items: center;  
  justify-content: flex-end;
  color: #777;
  border-bottom: 1px solid #333;
  margin-bottom: 3px;
}
.buy-total > span {
  color: #fff;
  margin: 0 10px;
  /* background: #555;
  border-radius: 50px;  
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; */
}
.buy-items {
  overflow: auto;
}
.buy-items-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}


#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 99;
}
#loading > div {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}